* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  }
  
.logo{
  margin-top: 2vh;
  margin-left: 20px;
}

nav{
    color: white;
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.nav-links{
    flex: 1;
    text-align: right;
    color: white;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #124dc1;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
}
  
body{
    background-color: rgb(27, 27, 27);
    font-family: 'Poppins', sans-serif;
    height: 90%;
    width: 100%;

}

.content {
  float:left; 
  width: 50%;
  margin-left: 10px;
}

.AboutMe{
  margin-left: -5%;
  height: -20%;
}
.content2 {
  float:left; 
  width: 40%;
}

.Image{
  margin-left: 2%;
  margin-top: -21rem;
  width: 30%;
  height: auto;
}

.Image2{
  margin-left: 20%;
  margin-top: -13rem;
  width: 30%;
  height: auto;
}

.text{
  margin-left: 0%; 
}

.hero{
  padding-top: 12.5%;
  margin-left: 15%;
  margin-top: 4vh;
  margin-bottom: 35vh;   
}

.hero .right {
  color: var(--white);
  margin-top: -7rem;
}
.hero .right2 {
  color: var(--white);
  margin-top: -7rem;
  margin-left: -2%;
}

.hero .right h6, .right2 h6{
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.hero .right h1, .right2 h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    }
    .hero .right h1 span, .right h1 span{
    color: var(--primary);
    }


    .hero .right p, .right2 p{
    line-height: 1.9;
    margin-bottom: 2rem;
    }
    section{
      padding: 6rem;
      }
      section.about h1{
      margin-bottom: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      }
      section.about h1 span{
      color: var(--primary);
      }
      section.about h3{
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 600;
      }
      section.about p{
      font-family: 'Lato', sans-serif;
      color: var(--secondary);
      line-height: 1.9rem;
      margin-bottom: 2rem;
      }
      section.about .socials{
      display: flex;
      }
      section.about .socials a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      margin-right: 0.8rem;
      border-radius: 50%;
      }
      section.about .socials a:hover{
      background: var(--primary);
      }
      section.Skills{
        background: rgb(17, 17, 17)
        }
        .Skills-head{
        color: rgb(153, 153, 153);
        text-align: center;
        margin-bottom: 0.5rem;
        line-height: 4rem;
        color: var(--primary);
        }
        .Skills-head + p{
        color: var(--white);
        font-family: 'Lato', sans-serif;
        margin-bottom: 1rem;
        text-align: center;
        margin-bottom: 6rem;
        font-weight: 400;
        }
        
        section.Skills .card-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        }

        section.Skills .card-grid .card{
        background: white;
        padding: 3rem 2rem;
        position: relative;
        text-align: center;
        transition: all .2s ease;
        }
        
        .card-grid .card h1{
        color: black;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        }

        section.Skills .card-grid .card h2{
          color: black;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        }
        section.Skills .card-grid .card p{
        font-family: 'Lato', sans-serif;
        color: black;
        line-height: 1.6;
        }
        section.Skills .card-grid .card:hover{
        background: var(--primary);
        }
        section.Skills .card-grid .card:hover h2{
        color: var(--white);
        }
        section.Skills .card-grid .card:hover p{
        color: var(--white);
        }
        @import 'utilities.css';
        :root{
        --primary: #124dc1;
        --bgDark: rgb(177, 177, 177);
        --white: rgb(250, 250, 250);
        --secondary:rgb(27, 27, 27);
        --bgLight: rgb(190, 181, 181);
        }
        .flex{
            display: flex;
            }
            .items-centre{
            align-items: center;
            }
            .justify-between{
            justify-content: space-between;
            }
            .justify-center{
            justify-content: center;
            }
            .justify-right{
            justify-content: right;
            }
            .btn{
            padding: 0.6rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            border: 2px solid transparent;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: all .2s ease;
            }
            .btn-primary{
            background-color: var(--primary);
            color: var(--secondary);
            margin-top: -23rem;
            }
            .btn-primary:hover{
            background: transparent;
            border-color: var(--primary);
            color: var(--primary);
            }
            .flex-1{
            flex: 1;
            }
            .btn-secondary{
            background: transparent;
            color: var(--primary);
            border-color: var(--primary);
            }
            .btn-secondary:hover{
            background: var(--primary);
            color: var(--secondary);
            }
h1 {
  color: white;
}

p {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.about {
  height: 120%;
}

.logo {
  height: 20px;
}

img {
  height: 50px;
  margin-top: 50px;
  margin-left: 50px
}

.me {
  margin-top: 20%;
}


footer{
  height: max-content;
  background: rgb(19, 19, 19);
  text-align: center;
  padding:4rem;
  font-size: smaller;
  display: flex;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  border-width: 50%;
  display: flex;
  overflow: hidden;
	top: 42%;
  margin-left: -10.2%;
  width: 50%;
  color: var(--primary);
  font-size: 1.5em;

	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

.info{
  max-width: 800px;
}

.text-box{
  width: 90%;
  color: #fff;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 4rem;
  font-weight: 10;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.text-box p{
  color: #fff;
  font-size: 20px;
  line-height: 1.9;
  margin-bottom: 2rem;
}

.Contact{
  align-items: center;
}

.hero .right3 {
  color: var(--white);
  margin-top: -7rem;
}

.hero .right3 h6{
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.hero .right3 h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    }
    .hero .right3 h1 span{
    color: var(--primary);
    }

    .hero .right3 p{
    line-height: 1.9;
    margin-bottom: 2rem;
    }

    .content3 {
      float:left; 
      width: 100%;
      margin-left: 10px;
      align-items: center;
    }
    .btn3{
      padding: 0.6rem 2rem;
      font-size: 1rem;
      font-weight: 600;
      border: 2px solid transparent;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: all .2s ease;
      }
      .btn3-secondary{
      background: transparent;
      color: var(--primary);
      border-color: var(--primary);
      }
      .btn3-secondary:hover{
      background: var(--primary);
      color: var(--secondary);
      }

      .mySlides{
        height: 600px;
        align-items: center;
        margin-left: 16%;
      }

      .Overview h1{
        font-size: 80px;
        text-align: center;
      }

      .Overview{
        background-color: rgb(19, 19, 19);
      }

      .GraphicDesign h6{
        margin-top: 10px;
      }

      .mySlides1{
        height: 600px;
        align-items: center;
        margin-left: 16%;
      }

    .Contact{
      align-items: center;
      margin-left: 45%;
    }

    .blondie{
      height: 400px;
    }

.music{
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: 80px;
}

.Overview p{
  text-align: center;
  margin-top: 10px;
}